@import url('https://fonts.googleapis.com/css?family=Cinzel');

head {
	margin: 0px;
	background-color: #1e1e1e;
}

body {
	background-color: #2e2e2e;
}

footer {
	margin: 0px;
	background-color: #1e1e1e;
	padding: 20px 0px 20px 0px;
}

h1 {
	font-size: 48px;
	color: #dadada;
}

h2 {
	font-size: 36 px;
	color: #dadada;
}

h3 {
	font-size: 24 px;
	color: #dadada;
}

p {
	font-size: 12 px;
	color: #dadada;
}

