/*//////////////////////////
COLORS
//////////////////////////*/

/*Same green as comments*/
.comment-green-text {
	color: #4d7427;
}

/*Same green as classes*/
.class-green-text {
	color: #4ec9b0;
}

/*Same purple as if, for, etc.*/
.purple-text {
	color: #d8a0df;
}

/*Same blue as variable names*/
.name-blue-text {
	color: #9cdcfc;
}

/*Same blue as data types*/
.type-blue-text {
	color: #539cd6;
}

/*Same yellow as functions*/
.function-yellow-text {
	color: #d5dcaa;
}

/*Same orange as strings*/
.string-orange-text {
	color: #d69d85;
}

/*Same gray as operators and semicolons*/
.operator-gray-text {
	color: #a9a9ab;
}

/*Same blue as the border of highlighted elements*/
.highlight-border-blue-text {
	color: #3e648e;
}

/*Same blue as highlighted elements*/
.highlight-blue-text {
	color: #113d6f;
}


/*//////////////////////////
ELEMENTS
//////////////////////////*/

.top-nav {
	margin: 0px;
	background-color: #101010;
	display: block;	
	align: center;
}

.top-nav-element {
	text-align: center;
	font-size: 24px;
	display: inline-block;
	padding: 20px 0px 20px 0px;
}

.top-nav-element a:link {
	text-decoration: none;
	padding: 20px 40px 20px 40px;
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.top-nav-element a:visited {
	text-decoration: none;
	padding: 20px 40px 20px 40px;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.top-nav-element a:hover {
	text-decoration: none;
	padding: 20px 40px 20px 40px;
	box-shadow: inset 255px 0 0 0 #113d6f;
	border-width: 5px;
	border-color: #3e648e;
	border-style: solid;
}

.top-nav-element a:active {
	text-decoration: none;
	padding: 20px 40px 20px 40px;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.nameplate {
	margin: 0px;
	text-align: center;
	align: center;
	background-color: #1e1e1e;
	padding: 40px;
	font-family: 'Cinzel', Handwriting;
}

.about-section {
	display: flex;
}

.profile-pic {
	max-width: 768px;
	max-height: 768px;
	padding: 80px 80px 80px 40px;
}

.about-me {
	padding: 200px 0px;
}

.about-header {
	display: inline;
}

.same-line {
	display: inline-block;
}

.footer-carousel {
	align: center;
	text-align: center;
}

.footer-title {
	text-align: center;
	color: #ffffff;
}

.footer-item {
	display: inline-block;
	border-color: #ffffff;
	border-width: 2px;
	border-style: solid;
	color: #ffffff;
	padding: 10px;
	margin: 20px;
}