/*//////////////////////////
COLORS
//////////////////////////*/

/*Same green as comments*/
.comment-green-text {
	color: #4d7427;
}

/*Same green as classes*/
.class-green-text {
	color: #4ec9b0;
}

/*Same purple as if, for, etc.*/
.purple-text {
	color: #d8a0df;
}

/*Same blue as variable names*/
.name-blue-text {
	color: #9cdcfc;
}

/*Same blue as data types*/
.type-blue-text {
	color: #539cd6;
}

/*Same yellow as functions*/
.function-yellow-text {
	color: #d5dcaa;
}

/*Same orange as strings*/
.string-orange-text {
	color: #d69d85;
}

/*Same gray as operators and semicolons*/
.operator-gray-text {
	color: #a9a9ab;
}


/*//////////////////////////
ELEMENTS
//////////////////////////*/

.top-nav {
	
}

.top-nav a:hover {
	
}

.nameplate {
	text-align: center;
	align: center;
	background-color: #1e1e1e;
	padding: 40px;
	font-family: 'Cinzel', Handwriting;
}

.about-section {
	display: flex;
}

.profile-pic {
	max-width: 768px;
	max-height: 768px;
}

.about-me {
	padding: 200px 0px;
}

.about-header {
	display: inline;
}

.same-line {
	display: inline-block;
}

.footer-carousel {
	align: center;
	text-align: center;
}

.footer-title {
	text-align: center;
	color: #ffffff;
}

.footer-item {
	display: inline-block;
	border-color: #ffffff;
	border-width: 2px;
	border-style: solid;
	color: #ffffff;
	padding: 10px;
	margin: 20px;
}