.top-nav {
	
}

.top-nav a:hover {
	
}

.nameplate {
	text-align: center;
	background-color: #4a4a4a;
	padding: 40px;
	font-family: 'Cinzel', Handwriting;
}

/*Same green as comments*/
.comment-green-text {
	color: #0f8022;
}

/*Same green as classes*/
.green-text {
	color: #48c27b;
}

/*Same purple as if, for, etc.*/
.purple-text {
	color: #a674cc;
}

/*Same blue as variable names*/
.name-blue-text {
	color: #85daff;
}

/*Same blue as data types*/
.type-blue-text {
	color: #1885c4;
}

.footer-carousel {
	align: center;
	text-align: center;
}

.footer-title {
	text-align: center;
	color: #ffffff;
}

.footer-item {
	display: inline-block;
	border-color: #ffffff;
	border-width: 2px;
	border-style: solid;
	color: #ffffff;
	padding: 10px;
	margin: 20px;
}