@import url('https://fonts.googleapis.com/css?family=Cinzel');

head {
	margin: 0px;
	background-color: #1e1e1e;
	width: 100%;
}

body {
	overflow-y: scroll;
	
	margin: 0px;
	background-color: #2e2e2e;
}

footer {
	margin: 0px;
	background-color: #1e1e1e;
	padding: 20px 0px 20px 0px;
	width: 100%;
	bottom: 0;
}

h1 {
	font-size: 48px;
	color: #dadada;
}

h2 {
	font-size: 36px;
	color: #dadada;
}

h3 {
	font-size: 24px;
	color: #dadada;
}

p {
	font-size: 12px;
	color: #dadada;
}

