/*
The classes specific to the main page
*/

.about-section {
	display: flex;
	justify-content: center;
}

.header-profile-pic {
	width: auto;
	height: 8vw;
	
	object-fit: contain;
	
	padding: 1vw 4vw 1vw 1vw;
}

@media only screen and (max-width: 800px), (max-aspect-ratio: 8/9){
	.about-section{
		isplay: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.header-profile-pic {
		width: auto;
		height: 16vw;
		
		object-fit: contain;
		
		padding: 2vw 4vw 2vw 2vw;
	}
}

.profile-pic {
	width: 20vw;
	height: auto;
	
	object-fit: contain;
	
	padding: 2vw 4vw 2vw 2vw;
}

.about-me {
	padding: 2vw 0px 2vw 0px;
}

.about-header {
	display: inline;
}

.resume-section {
	
}

.resume-section a{
	display: block;
	width: 80%;
	margin-top: 0vw;
	margin-bottom: 0vw;
	margin-left: auto;
	margin-right: auto;
	transform: scale(.75);
	
	text-decoration: none;
	text-align: center;
	font-size: 4vw;
	
	padding: 3vw;
	background-color: #101010;
	border-width: 0px;
	
	box-shadow: inset 0 0 0 0 #113d6f;
}

.resume-section a:link{
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .4s ease-in-out, box-shadow .4s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.resume-section a:active{
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .4s ease-in-out, box-shadow .4s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.resume-section a:visited{
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .4s ease-in-out, box-shadow .4s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.resume-section a:hover{
	display: block;
	
	text-decoration: none;
	text-align: center;
	font-size: 4vw;
	
	padding: 3vw;
	
	background-color: #101010;
	font-family: inherit;
	
	box-shadow: inset 62.5vw 0 0 0 #113d6f;
	transition: border-width .4s ease-in-out, box-shadow .4s ease-in-out;
	border-width: 5px;
	border-color: #3e648e;
	border-style: solid;
}

/*Source: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.offset {
  padding-top: 7vh;
}