/*
The classes specific to the project detail pages
*/

.banner-title {
	text-align: center;
}

.divider-line {
	height: .2vh;
	background-color: #4ec9b0;
	
	width: 80%;
}

hr.rounded {
	border-top: .2vh solid #4ec9b0;
	border-radius: 5px;
}

.page-background {
	background-color: #3e3e3e;
}

/* Project Classes */

.itch-container {
	display: inline-block; 
	width: 100%;
}

.itch {
	display: flex;
	
	padding-left: 8vw;
	padding-right: 8vw;
}

.itch-img {
	width: auto;
	height: 16vw;
	
	display: inline;
	
	margin: 4vw;
	margin-top: auto;
	margin-bottom: auto;
}

.itch-link {
	display: inline;
	/*padding: 10vw 0px 0px 0px;*/
	
	font-size: 2vw;
	
	text-decoration: none;
	
	display: block;
	width: 60%;
	margin: 4vw;
	
	text-decoration: none;
	text-align: center;
	
	padding: 4vw;
	outline-color: #101010;
	outline-width: 0px;
	
	box-shadow: inset 0 0 0 0 #113d6f;
}

.itch-link:link{
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: outline-width .4s ease-in-out, box-shadow .4s ease-in-out;
	outline-width: 0px;
	outline-color: #3e648e;
	outline-style: solid;
}

.itch-link:active {
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: outline-width .4s ease-in-out, box-shadow .4s ease-in-out;
	outline-width: 0px;
	outline-color: #3e648e;
	outline-style: solid;
}

.itch-link:visited{
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: outline-width .4s ease-in-out, box-shadow .4s ease-in-out;
	outline-width: 0px;
	outline-color: #3e648e;
	outline-style: solid;
}

.itch-link:hover{
	background-color: #101010;
	
	box-shadow: inset 50vw 0 0 0 #113d6f;
	transition: outline-width .4s ease-in-out, box-shadow .4s ease-in-out;
	outline-width: .5vw;
	outline-color: #3e648e;
	outline-style: solid;
}

.section-title {
	text-align: center;
	font-size: 2.5vmax
}

.title-underline {
	border-top: 5px solid #4ec9b0;
	border-radius: 5px;
	
	width: 50%;
}

.overview {
	padding: 3vw 4vw 3vw 4vw;
}

.overview-text {
	font-size: 1.5vmax;
}


/* Source: https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */
/* Some alterations made */

.carousel-container {
	position: relative;
}

.carousel-slide {
	display: none;
	text-align: center;
	background: #000000;
}

.cursor {
	cursor: pointer;
}

.carousel-prev,
.carousel-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.carousel-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

.thumbnail-row:after {
    content: "";
    display: table;
    clear: both;
	
	float: left;
    position: relative;
    left: -23%;
}

.thumbnail-centering {
	float: left;
    position: relative;
    left: 23%;
}

/*Note: the height here is set so that the height of the smallest image hides the overflow of the other thumbnail images*/
.thumbnail-column {
    float: left;
    width: 12vw;
	overflow: hidden;
	height: 6vw;

	justify-content: center;
	display:flex;
	
	margin-bottom: 4vw;
}

.thumbnail {
    opacity: 0.6;
}

.active,
.thumbnail:hover {
  opacity: 1;
}

/* End of Source: https://css-tricks.com/css-only-carousel/ */

.carousel-img {
	/*position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

	overflow: hidden;*/
	
	height: 30vw;
}

.no-antialiasing {
	/*Source: https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.tools-section {
	margin-left: 5vw;
	margin-right: 5vw;
	text-align: center;
}

.tools-text {
	text-align: center;
	display: inline-block;
	padding: 0px 4vw 0px 4vw;
	margin: .5vw;
	
	width: auto;
    height: 100%;
    background: #090909;
    border-radius: 40px;
}

.tools-font {
	font-size: 1.5vmax;
}

.responsibilities-text {
	text-align: center;
	display: inline-block;
	padding: 0px 2vw 0px 2vw;
	margin: .75vw;
	
	width: auto;
    height: 100%;
    background-color: #090909;
    border-radius: 3vw;
	
	transition: background-color .3s ease-in-out;
	transition: transform .3s ease-in-out;
}

.responsibilities-font {
	font-size: 1.5vmax;
}

.responsibilities-text:hover {
	background-color: #202020;
	transform: scale(1.1);
	cursor: pointer;
}

.responsibilities-text:active {
	background-color: #202020;
	transform: scale(1.1);
	cursor: pointer;
}

.reflection {
	padding: 3vw 4vw 3vw 4vw;
}

.reflection-text {
	font-size: 1.5vmax;
}