/*
The classes specific to the project page
*/

.banner-title {
	text-align: center;
}

.divider-line {
	height: 5px;
	background-color: #4ec9b0;
}

hr.rounded {
	border-top: 5px solid #4ec9b0;
	border-radius: 5px;
}

/*Project Classes*/

.project-carousel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5vw;
	margin-bottom: 2.5vw;
	text-align: center;
	display: inline-block;
}

.project-featured {
	display: inline-grid;

	text-decoration: none;
	
	height: 42.5vw;
	
	margin-left: -5vw; 
	margin-bottom: -60vw; 
	padding-top: 5vw;
	
	transform: scale(1);
	
	transition: transform .3s ease-in-out;
}

.project-featured:hover {
	
	transform: scale(1.03);
}

.project-featured .project-banner {
	width: 100vw;
	
	filter: blur(.2vw);
	transition: filter .3s ease-in-out;
}

.project-featured:hover .project-banner {
	filter: blur(.8vw);
}

.project-featured .project-banner-title {
	height: inherit;
	
	position: relative;
	left: 50%;
	
	transform: translate(-50%, -110%);
	z-index: 2;
}

.project-featured .project-banner-text {
	text-align:center;
	font-size: 2vw;
	color: white;
	
	position: relative;
	/*left: 50vw;*/
	
	transform: translate(0vw, -52.5vw);
	z-index: 2;
	
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	padding: 1vw;
	
	border: .1vw solid #ffffff;
	
	margin: auto;
	padding-left: 20vw;
	padding-right: 20vw;
}

.project-has-long-name {
	top: -1.5vw;
}

.project {
	display: inline-grid;
	
	position: relative;
	
	width: 30vw;
	height: 30vw;
	margin: 2vw;
	background-color: #1e1e1e;
	text-align: inherit;
	
	text-decoration: none;
	
	box-shadow: 0px 1vw 2vw #000000;
	
	transition: all .3s ease-in-out;
}

.project:hover {
	transform: scale(1.1);
	background-color: #303030;
	z-index: 10;
}

.project .project-name-div {
	width: 100%;
	height: 80%;
	background-color: #101010;
	z-index: 3;
	
	text-algin: inherit;
}

.project .long-project-name-div {
	width: 100%;
	height: 92%;
	background-color: #101010;
	z-index: 3;
	
	text-algin: inherit;
}

.project .project-name-div .project-name{
	display: inline-block;
	vertical-align: middle;
	font-size: 3vw;
}

.project .long-project-name-div .long-project-name{
	display: inline-block;
	vertical-align: middle;
	font-size: 2vw;
}

.project .tools-section {
	background-color: rgba(32, 32, 32, .2);
	padding: .5vw 0px .5vw 0px;
	width: 100%;
	top: 24%;
	position: absolute;
	text-algin: inherit;
	z-index: 4;
	box-shadow: 0px 0vw 0vw #000000;

	transition: top .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.project:hover .tools-section {
	top: 100%;
	background-color: rgba(32, 32, 32, 1);
	box-shadow: 0px 1vw 2vw #000000;
}

.project .tools-text {
	text-align: center;
	display: inline-block;
	padding: 0px 5% 0px 5%;
	margin: .5%;
	
	width: auto;
    background: #090909;
    border-radius: 40px;
}

.project .tools-font {
	font-size: 1vw;
}

.project .project-img-section {
	overflow: hidden;
	z-index: 2;
	
	position: absolute;
	
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	
	display: flex;
	align-itmes: center;
	justify-content: center;
	
	height: 100%;

	visibility: visible;
	opacity: 1;
	transition: opacity .5s linear;
}

.project:hover .project-img-section {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .5s, opacity .5s linear;
}

.project .project-img {
	/*max-width: 100%;
	height: auto;
	transform: scale(1.75);*/
	
	margin: 5vw 0px 0px 0px;
	height: 85%;
	width: auto;
	z-index: 2;

	transition: transform .5s linear;
	
	/*Source: https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.project:hover .project-img {
	transform: scale(2);

	transition: transform .5s linear;
}

.project .project-description-section {
	margin: 0vw 2vw 10vw 2vw;
	height: 10vw;
	z-index: 1;
}

.project .project-description {
	top: 50%;
	height: 10vw;
	text-align: left;
	font-size: 1.8vw;
}

.click-section-div {
	position: relative; 
	left: -5vw;
	bottom: 9.5vw;
	line-height: 1vw;
}

.click-section {
	display: inline;
}

.click-to-see-more {
	font-size: 1vw;
}

@media only screen and (max-width: 800px), (max-aspect-ratio: 8/9){
	.project{
		display: inline-grid;
	
		position: relative;
		
		width: 60vw;
		height: 60vw;
		margin: 4vw;
		background-color: #1e1e1e;
		text-align: inherit;
		
		text-decoration: none;
		
		box-shadow: 0px 1vw 2vw #000000;
		
		transition: all .3s ease-in-out;
	}
	
	.project .project-name-div {
		width: 100%;
		height: 50%;
		background-color: #101010;
		z-index: 3;
		
		text-algin: inherit;
	}
	
	.project .long-project-name-div {
		width: 100%;
		height: 57%;
		background-color: #101010;
		z-index: 3;
		
		text-algin: inherit;
	}

	.project .project-name-div .project-name{
		display: inline-block;
		vertical-align: middle;
		font-size: 6vw;
	}
	
	.project .long-project-name-div .long-project-name{
		display: inline-block;
		vertical-align: middle;
		font-size: 4vw;
	}

	
	.project .tools-font {
		font-size: 2vw;
	}
	
	.project .project-img-section {
		overflow: hidden;
		z-index: 2;
		
		position: absolute;
		
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
		
		display: flex;
		align-itmes: center;
		justify-content: center;
		
		height: 100%;

		visibility: visible;
		opacity: 1;
		transition: opacity .5s linear;
	}
	
	.project .project-description-section {
		margin: -10vw 4vw 10vw 4vw;
		height: 20vw;
		z-index: 1;
	}

	.project .project-description {
		top: 50%;
		height: 15vw;
		text-align: left;
		font-size: 3.6vw;
	}
	
	.click-section-div {
		position: relative; 
		left: -5vw;
		bottom: 9.5vw;
		line-height: 2vw;
	}

	.click-to-see-more {
		font-size: 2vw;
	}
}



