/*
The classes specific to the project page
*/

.banner-title {
	text-align: center;
}

.divider-line {
	height: 5px;
	background-color: #4ec9b0;
}

hr.rounded {
	border-top: 5px solid #4ec9b0;
	border-radius: 5px;
}



/*Project Classes*/

.project-carousel {
	position: relative;
	margin: 50px 25px 50px 25px;
	text-align: center;
	display: inline-block;
}

#project {
	display: inline-grid;
	
	position: relative;
	
	width: 400px;
	height: 400px;
	margin: 20px;
	background-color: #1e1e1e;
	text-align: inherit;
	
	box-shadow: 0px 10px 20px #000000;
	
	transition: all .3s ease-in-out;
}

#project:hover {
	transform: scale(1.1);
	background-color: #303030;
}

#project #project-name-div {
	width: 100%;
	height: 100%;
	background-color: #101010;
	z-index: 3;
	
	text-algin: inherit;
}

#project #project-name-div #project-name{
	display: inline-block;
	vertical-align: middle;
}

#project #project-img-section {
	overflow: hidden;
	z-index: 2;
	
	position: absolute;
	
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	
	display: flex;
	align-itmes: center;
	justify-content: center;
	
	height: 100%;

	visibility: visible;
	opacity: 1;
	transition: opacity .5s linear;
}

#project:hover #project-img-section {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .5s, opacity .5s linear;
}

#project #project-img {
	/*max-width: 100%;
	height: auto;
	transform: scale(1.75);*/
	
	
	height: 100%;
	z-index: 2;

	transition: transform .5s linear;
}

#project:hover #project-img {
	transform: scale(1.75);

	transition: transform .5s linear;
}

#project #project-description-section {
	margin: 20px;
	height: 16vw;
	z-index: 1;
}

#project #project-description {
	margin: 0px 20px 0px 20px;
	text-align: left;
}