/*
This file contains the text colors, header, navbar, and footer information needed in every page
*/

/*//////////////////////////
COLORS
//////////////////////////*/

/*Same green as comments*/
.comment-green-text {
	color: #4d7427;
}

/*Same green as classes*/
.class-green-text {
	color: #4ec9b0;
}

/*Same purple as if, for, etc.*/
.purple-text {
	color: #d8a0df;
}

/*Same blue as variable names*/
.name-blue-text {
	color: #9cdcfc;
}

/*Same blue as data types*/
.type-blue-text {
	color: #539cd6;
}

/*Same yellow as functions*/
.function-yellow-text {
	color: #d5dcaa;
}

/*Same orange as strings*/
.string-orange-text {
	color: #d69d85;
}

/*Same gray as operators and semicolons*/
.operator-gray-text {
	color: #a9a9ab;
}

/*Same blue as the border of highlighted elements*/
.highlight-border-blue-text {
	color: #3e648e;
}

/*Same blue as highlighted elements*/
.highlight-blue-text {
	color: #113d6f;
}


/*//////////////////////////
ELEMENTS
//////////////////////////*/


.icon-img {
	border-radius: 50%;
}

.top-nav {
	margin: 0px;
	background-color: #101010;
	display: block;	
	align: center;
	text-align: center;
}

.top-nav-elements {
	text-align: center;
	font-size: 24px;
	display: inline-block;
	/*padding: 20px 0px 20px 0px;*/
}

.top-nav-elements a {
	text-align: center;
	font-size: 24px;
	display: inline-block;
	padding: 20px 0px 20px 0px;
}

.top-nav-elements a:link {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.top-nav-elements a:visited {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.top-nav-elements a:hover {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	box-shadow: inset 255px 0 0 0 #113d6f;
	border-width: 5px;
	border-color: #3e648e;
	border-style: solid;
}

.top-nav-elements a:active {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.vert-nav {
	float: left;
	background-color: inherit;
	overflow: hidden;
}

.vert-nav button{
	text-align: center;
	font-size: 24px;
	display: inline-block;
	padding: 20px 20px 20px 20px;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.vert-nav button:link {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.vert-nav button:visited {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.vert-nav button:hover {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	box-shadow: inset 255px 0 0 0 #113d6f;
	border-width: 5px;
	border-color: #3e648e;
	border-style: solid;
}

.vert-nav button:active {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

/*.vert-nav .vert-nav-button {
	text-align: center;
	font-size: 24px;
	display: inline-block;
	margin: 0px;
	background-color: #101010;
	display: block;	
	align: center;
	text-align: center;
}*/

.vert-nav:hover .vert-nav-elements {
	display: block;
}

.vert-nav-elements {
	text-align: center;
	font-size: 24px;
	display: none;
	position: absolute;
	background-color: #060606;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	/*padding: 20px 0px 20px 0px;*/
}

.vert-nav-elements a:link {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
	display: block;
}

.vert-nav-elements a:visited {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	transition: border-width .3s ease-in-out, box-shadow .3s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
	display: block;
}

.vert-nav-elements a:hover {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	box-shadow: inset 255px 0 0 0 #113d6f;
	border-width: 5px;
	border-color: #3e648e;
	border-style: solid;
	display: block;
}

.vert-nav-elements a:active {
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.nameplate {
	margin: 0px;
	text-align: center;
	align: center;
	background-color: #1e1e1e;
	padding: 40px;
	font-family: 'Cinzel', Handwriting;
}

.page-wrapper {
	padding-top: 10px;
	margin: 0px 100px 0px 100px;
}

.about-section {
	display: flex;
}

.profile-pic {
	width: 40vw;
	height: auto;
	
	/*max-width: 50vw;
	max-height: 700px;
	
	min-width: 400px;
	min-height: 400px;*/
	
	object-fit: contain;
	
	padding: 80px 80px 80px 40px;
	
	/*display: block;
	margin-left: auto;
	margin-right: auto;*/
}

.about-me {
	padding: 200px 0px 100px 0px;
}

.about-header {
	display: inline;
}

.resume-section {
	
}

.resume-section a{
	display: block;
	width: 40%;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	
	text-decoration: none;
	text-align: center;
	font-size: 4vw;
	
	padding: 4vw;
	background-color: #101010;
	border-width: 0px;
	
	box-shadow: inset 0 0 0 0 #113d6f;
}

.resume-section a:link{
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .4s ease-in-out, box-shadow .4s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.resume-section a:active{
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .4s ease-in-out, box-shadow .4s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.resume-section a:visited{
	background-color: #101010;
	
	box-shadow: inset 0 0 0 0 #113d6f;
	transition: border-width .4s ease-in-out, box-shadow .4s ease-in-out;
	border-width: 0px;
	border-color: #3e648e;
	border-style: solid;
}

.resume-section a:hover{
	display: block;
	
	text-decoration: none;
	text-align: center;
	font-size: 4vw;
	
	padding: 4vw;
	
	background-color: #101010;
	font-family: inherit;
	
	box-shadow: inset 50vw 0 0 0 #113d6f;
	transition: border-width .4s ease-in-out, box-shadow .4s ease-in-out;
	border-width: 5px;
	border-color: #3e648e;
	border-style: solid;
}

.same-line {
	display: inline-block;
}

.footer-carousel {
	align: center;
	text-align: center;
}

.footer-title {
	text-align: center;
	color: #ffffff;
}

.footer-item {
	display: inline-block;
	border-color: #ffffff;
	border-width: 2px;
	border-style: solid;
	color: #ffffff;
	padding: 10px;
	margin: 20px;
}